.App {
    background-color: gray;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}
button {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(34, 27, 82);
    width: 100px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;

}
h2 {
    margin-bottom: 20px;
}
input {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}